@import url("./reset.css");
@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Mori", -apple-system, Helvetica, Roboto, Arial, sans-serif;

	color-scheme: light dark;
	color: white;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	height: 100vh;
	width: 100%;
	position: relative;
}

body,
#root {
	height: 100%;
	width: 100%;
	position: relative;
}

.css-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.h-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

a {
	text-decoration: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}
