@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Mori", -apple-system, Helvetica, Roboto, Arial, sans-serif;

	color-scheme: light dark;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
