name: Deploy
on: 
  push:
    branches:
      - main
    pull_request:
      - main
env: 
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1
      ENVIRONMENT: prod
jobs:
  cdk-deploy: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with: 
          node-version: 16
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Install CDK 
        run: npm install -g aws-cdk 
      - name: Enter Directory
        run: cd /
      - name: CDK Deploy
        run: |
          cd code/
          yarn install 
          cdk deploy --all --require-approval never --outputs-file cdk-outputs.json